<div class="about-container">
	<div class="row row-centered">
        <div class="col-fixed about inline" title="about"></div>
        <div class="text-block align-wrapper inline">
        	<h1>Craig Wells</h1>
			<h3>Javascript Web Developer</h3>
        </div>
    	<p>
		I'm Craig, a 39 year old (Javascript focused) Web Developer. 
		I live in Romford in Essex with my beautiful wife and two gorgous children. 
		Currently I am employed as an Implementation Specialist at the Shoreditch offices of <link>Northplains</link>.
		While most of the projects that I work on professionally are not public facing sites, I like to spend my spare time developing my skills with personal projects (some of which I've featured on the landing page).
		I also like horror movies, 1970's rock and Sci-Fi. I'm also interested in history, engineering and anything tech.
		</p>

		<b>Education</b><p>I graduated <link>The University of East London</link> in 2011 with a BSC(hons) Computing 2:1 (69% sic)</p>

		<b>Employment</b><p>For the past 3 1/2 years I've been working as a Web Developer / Impementation Specialist at <link>Northplains</link>. 
		During that time I've worked with a number of High Profile brands and Blue Chip clients. My main responsibilities are the out-of-the box configurations of one of our products, and phase one customisations. I also assist as a reqirements analyst and help out in support (if needed). My work is mostly Javascript focused, often work within an Angular.js framework. I automate tasks with grunt and version control with git, sometimes SVN, depending upon the client. I might also be required to write; restful services, XSLT / XPATH, JAVA, bash scripts and SQL reports.
		</p>

		<p>
		Besides Northplains I worked (for a short period) as a Business Analyst at <link>TFL</link> and as an Office Manager at <link>Xtera Communications.</link>
		</p>

		<b>Skills</b> 		<p>
							During University I touched on Java, but I focused mainly on PHP and MySQL. I then had a brief fling with Flash and Flex, before getting fully involved with Javascript. I like to play with <link>design patterns in Javascript</link>, although I've been focusing on developing my HTML5 and Angular skills more recently, particularly data visualisation. I really enjoy playing with the Canvas element, and want to develop my D3 and Three.js skills further.
							</p>

							<graph></graph>


		<b>Ambitions</b>	<p>
							In the short to medium term I would like to strengthen my CSS skills (particularly LESS), learn Angular 2 and a NoSQL Database (Couchbase, MongoDB, Neo4j), do more with Node.js and to Play with Yeoman. 
							</p>

							<graph></graph>

							<p>
							In the medium to long term I want to play with D3 and Three.js more and develop more reusable patterns for data visualisation within a canvas element within a variety of Javascript environments. 
							</p>		
	</div>
</div>