<div class="projects-container">
    <div class="row row-centered">
        <div class="col-xs-6 col-centered col-fixed">
            <a ng-href="about">
                <div class="item about" title="about"></div>
            </a>
        </div>
        <div ng-repeat="p in home.projects" class="col-xs-6 col-centered col-fixed" back-img="{{p.img}}">
            <a ng-href="#">
			     <div class="item" title="{{p.name}}"></div>	
            </a>	
		</div>
        <div class="col-xs-6 col-centered col-fixed">
        	<div class="item footer">craigwells.xyx</div>
        </div>
    </div>
</div>