.col-xs-6{
	border:1px solid;
}

.pro-cont{
	height:20%;
}

.project-img{
	height:100%;
}

.projects-wrapper{
	height:86%;
	margin-top:14%;
}

#projects-container{
	padding-left: 10%;
	padding-right: 10%;
	border: 1px solid red;
	height:100vh;
}